---
import "selo-components/common.css"; // has to be above site-specific css

import "@/global.css";
import { Layout } from "selo-components";
---

<Layout title="404" description="">
  <center>
    <p>Page not found. lipu li lon ala.</p>
    <a href="/">Go back to the front page. o tawa lipu open.</a>
  </center>
</Layout>
