---
layout: default
title: suno pi toki pona
description: day of toki pona 2022
image: /assets/sitelen/suno.png
favicon: suno.ico
color: "#3584e4"
---
<main style="align-items: center">
<img src="/assets/sitelen/suno-2022.svg" style="width: 100%" alt="suno pi toki pona: toki pona day 2022"/>
<div class="container w-40">
	<div id="until"></div>
	<div class="dates">
		<span class="date" data-value="1659756420">6 Aug 05:27 UTC</span>
		-
		<span class="date" data-value="1659842820">7 Aug 05:27 UTC</span>
	</div>
	<h2 lang="en">Hello everyone!</h2>
	<p lang="en">The 8th of August is the birth date of Toki Pona. This year, we wanted to organise online event/concert/live show/celebration.</p>
	<p lang="en">We have had the following activities planned:</p>
	<ul lang="en">
		<li lang="en">Songs, lectures, workshops and other games are here (have a look at the <a href="tenpo/">schedule</a>)</li>
		<li lang="en">Wordcloud</li>
		<li lang="en">o toki e sitelen, o pali e sitelen</li>
	</ul>
	<p lang="en">The event has been a huge success. Many of you showed up, and we couldn't be happier that you did. You can <a href="https://www.youtube.com/playlist?list=PLjOmpMyMxd8TVr2MFw5AtXiypWMir8XfC" target="_blank">see a playlist of the event on YouTube</a> (it's still being updated with new videos). Thank you for the interest in the event, and see you next year!</p>

	<h2 lang="tok">toki, jan ale o!</h2>
	<p lang="tok">tenpo suno nanpa luka tu wan pi tenpo mun nanpa luka tu wan li suno pi toki pona. tenpo sike ni la, mi wile pali e ijo suli lon ma pona.</p>
	<p lang="tok">ijo ni li lon:</p>
	<ul lang="tok">
		<li lang="tok">kalama musi en toki sona en musi ante li lon (o lukin e <a href="tenpo/">tenpo</a>)</li>
		<li lang="tok">kon pi nimi</li>
		<li lang="tok">o toki e sitelen, o pali e sitelen</li>
	</ul>
	<p lang="en">suno pi toki pona li lon. ona li pona mute. sina mute li lon - ni li pona mute a! sina ken <a href="https://www.youtube.com/playlist?list=PLjOmpMyMxd8TVr2MFw5AtXiypWMir8XfC" target="_blank">lukin e ijo ale lon ijo Jutu</a> (awen la sitelen sin li kama). sina pona tan kama sina. o kama sin lon tenpo sike kama!</p>
	<div class="inline-center">
		{% include discord.html %}
		{% include twitter.html %}
		{% include mastodon.html %}
	</div>
	<script>
		var elements = document.getElementsByClassName("date");
		Array.from(elements).forEach(function(element) {
			var date = new Date(element.dataset.value*1000);
			var string = new Intl.DateTimeFormat('en-GB', { dateStyle: 'medium', timeStyle: 'long' });
			element.innerHTML = string.format(date).replace(/(2022, |:00)/g, "");
		});

		function display_time(diff) {
			var until = document.getElementById("until");
			until.innerHTML = "";

			var hour = Math.floor(diff/(60 * 60 * 1000)%60);
			if (hour > 0) {
				until.innerHTML += `${hour}:`;
			}
			var minute = Math.floor(diff/(60 * 1000)%60);
			if (hour > 0 || minute > 0) {
				if(minute < 10)
					minute = "0" + minute;
				until.innerHTML += `${minute}:`;
			}
			var second = Math.floor(diff/1000%60);
			if(second < 10)
				second = "0" + second;
			until.innerHTML += second;
			until.innerHTML += " left";
		}

		function countdown() {
			var until = document.getElementById("until");
			var now = new Date();
			var start = new Date(1659756420 * 1000);
			var end = new Date(1659842820 * 1000);
			if (start > now) {
				display_time(start.getTime() - now.getTime());
			} else if (end > now) {
				display_time(end.getTime() - now.getTime());
			} else {
				until.innerHTML = "";
			}
		}
		setInterval(countdown, 1000);
	</script>
</div>
</main>
